body, html {
    margin: 0;
    padding: 0;
    font-family:'Josefin Sans', 'Lato', 'Helvetica Neue', sans-serif;
    background-attachment: fixed;
    background-image: url('hex-tile.png');
    background-color: #999;
    font-weight: 100;
    font-size: 16px;
    font-size:3vmin;
}
#fullscreen {
    color:#000;
    position: absolute;
    top:3vmin;
    left: 3vmin;
    z-index: 10;
    font-size: 0.666rem;
    cursor: pointer;
}
.window {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    cursor: default;
}
.window div {
    width:100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -moz-box-pack: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    display: -webkit-flex;
    display: -moz-box;
    -webkit-align-items: center;
    box-align: center;
    -webkit-justify-content: center;
    box-pack: center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -moz-box-orient:vertical;
    -moz-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
}
.window #more {
    font-size:1.333rem;
    background:rgba(255,255,255,0.6);
    border-radius: 3vmin;
    padding: 8vmin;
}
#more a {
    color: rgb(80, 113, 155);
    border-bottom: 2px solid rgba(80, 113, 155, 0.8);
    text-decoration: none;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    transition:all 0.4s ease;
    padding-bottom: 0.5vmin;
    display: inline-block;
}
#more a:hover {
    border-radius: 50%;
    border-color: transparent;
    color: rgb(60, 83, 135)
}
#scroll-down {
    position:fixed;
    bottom:10vmin;
    width:100%;
    text-align:center;
    color:rgba(0,0,0,0.5);
    font-weight: 100;
    z-index:2;
    font-size:3rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition:all 2s ease;
    transition:all 2s ease;
    -webkit-animation:scrolldown 3s linear infinite;
    animation:scrolldown 3s linear infinite;
}
@-webkit-keyframes scrolldown {
    0% {text-shadow: 0vmin 0 0 #999}
    100% {text-shadow: 12vmin 0 0 transparent}
}
@keyframes scrolldown {
    0% {text-shadow: 0vmin 0 0 #999}
    100% {text-shadow: 12vmin 0 0 transparent}
}
.images {
    background-color: #fff;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
h1 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 3.75rem;
    text-align: center;
    box-shadow: 0 0 0 100vmax #fff;
    border-radius: 3vmin;
    padding: 6vmin 10vmin 3vmin;
    background: transparent;
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: 100;
}
::-moz-selection {
    background: rgba(150, 150, 150, 0.5);
    text-shadow: 0 1px #999;
}
::selection {
    background: rgba(150, 150, 150, 0.5);
    text-shadow: 0 1px #999;
}
aside {
    position: absolute;
    top: 5vmin;
    right: 5vmin;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    padding: 4vmin;
    margin: 0;
}

@media (max-width:400px), (max-height:400px) {
    html, body {
        font-size:15px;
    }
    #fullscreen {
        font-size: 1rem;
    }
}