/* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
/************/
@font-face{font-family:Quicksand;font-style:normal;font-weight:300;src:local('Quicksand Light'),local('Quicksand-Light'),url(https://themes.googleusercontent.com/static/fonts/quicksand/v3/qhfoJiLu10kFjChCCTvGlKRDOzjiPcYnFooOUGCOsRk.woff) format('woff')}@font-face{font-family:Quicksand;font-style:normal;font-weight:400;src:local('Quicksand Regular'),local('Quicksand-Regular'),url(https://themes.googleusercontent.com/static/fonts/quicksand/v3/sKd0EMYPAh5PYCRKSryvW7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff')}

html, body {
    font-family:'Quicksand';
    font-size:3vmin;
    overflow-x:hidden;
    -webkit-animation:fade-in 0.7s ease 1;
    animation:fade-in 0.7s ease 1;
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.95, 1);
        transform: scale(0.95, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.95, 1);
        transform: scale(0.95, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.header {
    margin:200px auto;
    width: 100%;
    text-align: center;
}
.header h1 {
    font-size: 4rem;
    font-weight: 100;
}
.header h3 {
    font-size: 2rem;
}
.full-width {
    width: 100%;
    height:100vh;
}
img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 100px 100px #fff;
}
h4 {
    position: fixed;
    right:3%;
    display: inline-block;
    padding:3%;
    background-color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    font-size: 0.7rem;
    font-weight: 400;
    border-radius: 0.3rem;
}
#scroll-down {
    position:fixed;
    width:100%;
    text-align:center;
    bottom:10%;
    color:rgba(0, 0, 0, 0.5);
    font-weight: 100;
    z-index:2;
    font-size:3rem;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation:scrolldown 3s linear infinite;
    animation:scrolldown 3s linear infinite;
}
#menu {
    color:#000;
    position: absolute;
    top:3vmin;
    right: 3vmin;
    z-index: 99;
    font-size: 1rem;
    cursor: pointer;
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
nav {
    position: absolute;
    top:0;
    right: -18vw;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    width: 18vw;
    height: 100%;
    padding: 6px;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow:0 0 0 9999px transparent;
}
nav .side-nav {
    display: inline-block;
    margin-bottom: 4vh;
    text-decoration: none;
    color: #000;
    box-shadow: 0 2px 0 -1px #777;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
nav .side-nav.link {
    color: #fff;
    box-shadow: 0 2px 0 -1px #aaa;
}
nav .side-nav.link:hover {
    background-color: #888;
    border-radius: 3px;
    box-shadow: 0 0px #aaa;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
nav.shown {
    -webkit-transform:translate(-18vw, 0);
    transform:translate(-18vw, 0);
    -webkit-transition:all 0.5s 0.2s ease;
    transition:all 0.5s 0.2s ease;
    box-shadow:0 0 0 9999px rgba(0, 0, 0, 0.4);
}
@-webkit-keyframes scrolldown {
    0% {
        text-shadow: 0vmin 0 0 #999
    }
    100% {
        text-shadow: 12vmin 0 0 transparent
    }
}
@keyframes scrolldown {
    0% {
        text-shadow: 0vmin 0 0 #999
    }
    100% {
        text-shadow: 12vmin 0 0 transparent
    }
}
@media (max-width:600px), (max-height:400px) {
    html, body {
        font-size:15px;
    }
    h4 {
        font-size: 1rem;
    }
}
